$color_1: black;
$color_2: white;
$color_3:rgb(199, 193, 193);
$color_4:rgb(164, 234, 221);

$background-color_1: white;
$background-color_2: whitesmoke;
$background-color_3: black;

$Dosis: 'Dosis', sans-serif;
$Nunito:'Nunito', sans-serif;
$Quicksand:'Quicksand', sans-serif;
$Raleway:'Raleway', sans-serif;